/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: pfdintextpro-bold; src: url("../fonts/pfdintextpro-bold.eot"); src: url("../fonts/pfdintextpro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextpro-bold.woff") format("woff"), url("../fonts/pfdintextpro-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: pfdintextpro-extrathin; src: url("../fonts/pfdintextpro-extrathin.eot"); src: url("../fonts/pfdintextpro-extrathin.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextpro-extrathin.woff") format("woff"), url("../fonts/pfdintextpro-extrathin.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: pfdintextpro-italic; src: url("../fonts/pfdintextpro-italic.eot"); src: url("../fonts/pfdintextpro-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextpro-italic.woff") format("woff"), url("../fonts/pfdintextpro-italic.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: pfdintextpro-light; src: url("../fonts/pfdintextpro-light.eot"); src: url("../fonts/pfdintextpro-light.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextpro-light.woff") format("woff"), url("../fonts/pfdintextpro-light.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: pfdintextpro-medium; src: url("../fonts/pfdintextpro-medium.eot"); src: url("../fonts/pfdintextpro-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextpro-medium.woff") format("woff"), url("../fonts/pfdintextpro-medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: pfdintextpro-regular; src: url("../fonts/pfdintextpro-regular.eot"); src: url("../fonts/pfdintextpro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextpro-regular.woff") format("woff"), url("../fonts/pfdintextpro-regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: pfdintextpro-thin; src: url("../fonts/pfdintextpro-thin.eot"); src: url("../fonts/pfdintextpro-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextpro-thin.woff") format("woff"), url("../fonts/pfdintextpro-thin.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: pfdintextpro-bold; src: url("../fonts/pfdintextpro-bold.eot"); src: url("../fonts/pfdintextpro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextpro-bold.woff") format("woff"), url("../fonts/pfdintextpro-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { min-width: 1024px; min-height: 500px; font-size: 12px; line-height: 1.5; color: #57231b; font-family: "pfdintextpro-medium", Arial, sans-serif; background: #e5e4dc; text-transform: uppercase; }
body ::selection { background: #fffcce; }
body ::-moz-selection { background: #fffcce; }
body.has-fixed-header, body.inner-page { padding-top: 77px; }
body.has-fixed-header .header, body.inner-page .header { position: fixed; top: 0; left: 0; right: 0; background: white; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.21); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.21); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.21); }
body.has-fixed-header .header__key, body.inner-page .header__key { display: inline-block; }
body.has-fixed-header .header__drop, body.inner-page .header__drop { visibility: hidden; top: 100%; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); -webkit-transition: opacity 0.2s linear; -moz-transition: opacity 0.2s linear; -o-transition: opacity 0.2s linear; transition: opacity 0.2s linear; }
body.has-fixed-header .header__drop.is-active, body.inner-page .header__drop.is-active { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
body.has-fixed-header .header__logo, body.inner-page .header__logo { left: 77px; line-height: 77px; }
body.has-fixed-header .header__logo a, body.inner-page .header__logo a { position: static; display: block; height: 77px; line-height: 77px; }
body.has-fixed-header .header__logo i, body.inner-page .header__logo i { background: url('../img/icons-s3b48fe2a99.png') 0 -156px no-repeat; width: 120px; height: 55px; }

a { text-decoration: none; }

.wrap { *zoom: 1; }
.wrap:after { content: " "; display: table; clear: both; }

.wrapper { overflow: hidden; }

.out { margin: 0 auto; position: relative; max-width: 1158px; min-width: 1024px; }

.l-container { margin: 0 auto; width: 978px; }

.header { position: relative; z-index: 50000; min-width: 1024px; height: 77px; background: white; -webkit-transition: box-shadow 0.2s linear; -moz-transition: box-shadow 0.2s linear; -o-transition: box-shadow 0.2s linear; transition: box-shadow 0.2s linear; }
.header a { color: #57231b; }

.header__in { position: relative; margin: 0 auto; height: 77px; max-width: 1158px; background: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.header__left { position: relative; float: left; height: 77px; width: 30.5%; }

.header__right { position: relative; float: right; height: 77px; width: 69.5%; *zoom: 1; }
.header__right:after { content: " "; display: table; clear: both; }

.header__right-in { float: right; *zoom: 1; }
.header__right-in:after { content: " "; display: table; clear: both; }

.header__key { position: relative; display: none; width: 77px; height: 77px; z-index: 2000; background: #fbf6a7; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.header__key:before { content: ""; position: absolute; left: 50%; top: 50%; margin: -6px 0 0 -9px; background: url('../img/icons-s3b48fe2a99.png') 0 -975px no-repeat; width: 18px; height: 12px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.header__key.is-active { background: #fffcce; }
.header__key.is-active:before { -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.header__drop { position: absolute; top: 188px; left: 0; right: 77px; z-index: 1000; background: white; }

.header__link { display: block; padding: 14px 0 15px; border-top: 1px solid #e4e3e0; letter-spacing: 1px; background: #fffcce; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.header__link:hover { background: #f37777; color: #fbf6a7; }
.header__link:hover .icon-male { background-position: 0 -460px; }
.header__link:hover .icon-female { background-position: 0 -537px; }
.header__link i, .header__link div { display: inline-block; vertical-align: middle; }
.header__link i { margin: 0 10px 0 22px; }
.header__link span { display: block; font-size: 11px; }
.header__link strong { font-family: "pfdintextpro-bold", Arial, sans-serif; display: inline-block; height: 22px; font-weight: normal; font-size: 18px; line-height: 1.44; border-bottom: 1px solid; }

.header__link-icon { width: 21.4%; text-align: center; }

.header__nav { border-top: 1px solid #e4e3e0; padding: 40px 0 47px 21.4%; }
.header__nav li { position: relative; margin-top: 13px; }
.header__nav li:first-child { margin-top: 0; }
.header__nav li.is-active a { background: #fbf6a7; }
.header__nav li.is-active a:before { content: ""; position: absolute; left: -10px; top: 0; width: 0px; height: 0px; border-style: solid; border-width: 0 0 21px 10px; border-color: transparent transparent #fbf6a7 transparent; }
.header__nav li.is-active a:after { content: ""; position: absolute; right: -10px; top: 0; width: 0px; height: 0px; border-style: solid; border-width: 21px 10px 0 0; border-color: #fbf6a7 transparent transparent transparent; }
.header__nav li.is-active span { border-bottom-color: transparent; }
.header__nav a { position: relative; padding: 0 4px; display: inline-block; height: 21px; line-height: 23px; }
.header__nav a:hover span { border-bottom-color: transparent; }
.header__nav span { font-size: 12px; font-family: "pfdintextpro-bold", Arial, sans-serif; letter-spacing: 1px; border-bottom: 1px solid; }

.header__logo { position: absolute; left: 0; top: 0; bottom: 0; right: 77px; z-index: 2000; }
.header__logo a { position: absolute; top: 0; left: 0; right: 0; height: 188px; line-height: 188px; text-align: center; background: white; font: 0/0 a; text-shadow: none; color: transparent; }
.header__logo i { display: inline-block; vertical-align: middle; background: url('../img/icons-s3b48fe2a99.png') 0 0 no-repeat; width: 149px; height: 146px; }

.header__search { position: absolute; right: 0; top: 0; bottom: 0; z-index: 2001; width: 77px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.header__search.is-active .header__search-wrap { width: 314px; left: -20px; right: -237px; }
.header__search.is-active .header__search-text { padding: 0 44px 0 52px; background: #fffee7; font-size: 12px; border: 1px solid #f4efaa; }
.header__search.is-active i { display: none; }
.header__search.is-active button { display: block; }
.header__search.is-active .header__search-btn { background: url('../img/icons-s3b48fe2a99.png') 0 -387px no-repeat; width: 24px; height: 24px; }
.header__search i { position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 2; cursor: pointer; }
.header__search button { display: none; position: absolute; top: 50%; left: 20px; margin-top: -4px; background: url('../img/icons-s3b48fe2a99.png') 0 -939px no-repeat; width: 9px; height: 9px; }

.header__search-wrap { position: absolute; top: 0; right: 0; left: 0; bottom: 0; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }

.header__search-text { display: block; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 77px; border-left: 1px solid #f2f1ec; border-right: 1px solid #f2f1ec; font-family: "pfdintextpro-medium", Arial, sans-serif; font-size: 0; color: #57231b; letter-spacing: 1px; background: #fafafa; }

.header__search-btn { position: absolute; right: 26px; top: 27px; background: url('../img/icons-s3b48fe2a99.png') 0 -353px no-repeat; width: 24px; height: 24px; font: 0/0 a; text-shadow: none; color: transparent; }

.soc { position: absolute; top: 0; bottom: 0; left: 0; right: 567px; line-height: 77px; padding: 0 1.5%; font-size: 0; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.soc a { display: inline-block; margin-left: 35px; vertical-align: middle; }
.soc a:first-child { margin-left: 0; }

.soc__vk { background: url('../img/icons-s3b48fe2a99.png') 0 -698px no-repeat; width: 22px; height: 13px; }

.soc__fb { background: url('../img/icons-s3b48fe2a99.png') 0 -893px no-repeat; width: 8px; height: 17px; }

.soc__tw { background: url('../img/icons-s3b48fe2a99.png') 0 -721px no-repeat; width: 20px; height: 16px; }

.header__feedback { float: left; border-left: 1px solid #f2f1ec; border-right: 1px solid #f2f1ec; width: 200px; height: 77px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: "pfdintextpro-bold", Arial, sans-serif; font-size: 12px; line-height: 77px; text-align: center; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; letter-spacing: 1px; }
.header__feedback:hover { color: #f37777; }

.header__cab { position: relative; float: left; padding: 0 1.1%; width: 131px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 12px; line-height: 77px; text-align: center; }
.header__cab a { display: inline-block; vertical-align: middle; padding: 9px 15px 6px; text-align: center; font-family: "pfdintextpro-bold", Arial, sans-serif; line-height: 1; letter-spacing: 1px; border: 1px solid #fbf6a7; }

.header__logout { position: absolute; right: 7px; top: 9px; background: url('../img/icons-s3b48fe2a99.png') 0 -958px no-repeat; width: 7px; height: 7px; }

.header__basket { float: left; width: 236px; background: #fffcce; line-height: 77px; }
.header__basket.has-item .header__basket-info { font-size: 24px; }

.header__basket-img { float: left; width: 77px; height: 77px; text-align: center; background: #fbf6a7; }
.header__basket-img span { position: relative; display: inline-block; vertical-align: middle; background: url('../img/icons-s3b48fe2a99.png') 0 -251px no-repeat; width: 28px; height: 28px; }
.header__basket-img em { position: absolute; right: -15px; top: -17px; width: 22px; height: 22px; text-align: center; line-height: 22px; color: white; font-family: Arial, sans-serif; font-size: 10px; font-style: normal; background: #f37777; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

.header__basket-info { display: block; letter-spacing: 1px; font-size: 14px; overflow: hidden; font-family: "pfdintextpro-light", Arial, sans-serif; text-align: center; }

.footer { margin: 0 auto; padding: 30px 35px 23px; border-top: 1px solid #e4e3e0; max-width: 1158px; text-transform: none; background: white; *zoom: 1; font-family: Arial, sans-serif; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 0; color: #57231b; }
.footer:after { content: " "; display: table; clear: both; }

.footer__copy, .footer__cont, .footer__logo { display: inline-block; vertical-align: middle; font-size: 12px; }

.footer__cont { margin: 0 13% 0 12.3%; }
.footer__cont p { margin-bottom: 10px; }
.footer__cont span { display: inline-block; margin-right: 20px; font-family: "pfdintextpro-medium", Arial, sans-serif; font-size: 15px; }
.footer__cont a { color: #f37777; }
.footer__cont a:hover { text-decoration: underline; }

.footer__logo { background: url('../img/icons-s3b48fe2a99.png') 0 -289px no-repeat; width: 146px; height: 20px; }

.promo-slider { position: relative; height: 530px; }
.promo-slider .fotorama__nav-wrap { position: absolute; z-index: 300; right: 0; bottom: 23px; text-align: right; }
.promo-slider .fotorama__nav__shaft { display: inline-block; }
.promo-slider .fotorama__nav { display: inline-block; width: 236px !important; }

.discount { position: absolute; right: 0; top: 0; bottom: 0; padding: 34px 20px; width: 196px; text-align: center; color: #fbf6a7; letter-spacing: 1px; background: rgba(225, 163, 192, 0.9); }
.discount a { color: #fbf6a7; }
.discount .btn-detail { color: #57231b; }

.discount__title { margin-bottom: 47px; font-size: 11px; color: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; letter-spacing: 3px; }

.discount__name { margin-bottom: 32px; font-size: 30px; text-align: center; line-height: 36px; }
.discount__name a { border-bottom: 1px solid; }

.discount__percent { margin-bottom: 38px; font-size: 36px; color: white; font-family: "pfdintextpro-extrathin", Arial, sans-serif; }

.banner-row { *zoom: 1; }
.banner-row:after { content: " "; display: table; clear: both; }

.banner-row__slider { float: left; width: 23.8%; height: 185px; overflow: hidden; }
.banner-row__slider .fotorama { height: 185px; background: #f37777; }
.banner-row__slider .fotorama__nav-wrap { position: absolute; left: 0; right: 0; bottom: 16px; z-index: 300; }

.banner-row__img { overflow: hidden; }
.banner-row__img a { float: left; width: 33.3%; height: 185px; text-align: center; overflow: hidden; }
.banner-row__img a img { -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.banner-row__img a:hover img { -ms-transform: scale(1.05); -webkit-transform: scale(1.05); transform: scale(1.05); }

.banner-row__slide { padding: 22px 20px 40px; background: #f37777; height: 123px; text-align: center; color: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.banner-row__slide span { font-size: 11px; letter-spacing: 3px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }
.banner-row__slide div { margin: 28px 0 0; font-size: 24px; font-family: "pfdintextpro-light", Arial, sans-serif; letter-spacing: 1px; line-height: 26px; }

.main { background: white; }

.partners { height: 177px; background: #fbf6a7; }
.partners .fotorama { position: relative; height: 177px; width: 100%; }
.partners .fotorama__arr { position: absolute; top: 63px; z-index: 1000; }
.partners .fotorama__arr--prev { left: 30px; }
.partners .fotorama__arr--next { right: 30px; left: auto; }

.partners__slide { text-align: justify; padding: 0 104px; height: 177px; line-height: 177px; }
.partners__slide:after { content: ""; display: inline-block; width: 100%; height: 0; }
.partners__slide a { display: inline-block; vertical-align: middle; }
.partners__slide img { vertical-align: middle; }

.about { margin: 0 auto; padding: 54px 0 77px; width: 787px; background: url(../img/bg-img1.png) 8px 51px no-repeat; }
.about .btn-detail:hover { background: #fbf6a7; }
.about .title { margin-bottom: 25px; }

.about__img { float: left; margin: 66px 30px 0 0; height: 75px; width: 75px; min-height: 1px; overflow: hidden; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

.about__main { overflow: hidden; }
.about__main div { -webkit-column-count: 2; -moz-column-count: 2; -ms-column-count: 2; -o-column-count: 2; column-count: 2; }

.title { margin-bottom: 25px; font-size: 24px; font-family: "pfdintextpro-light", Arial, sans-serif; text-transform: uppercase; }

.media { display: table; color: #57231b; }
.media .title { margin-bottom: 27px; }

.media__about, .media__news, .media__soc { display: table-cell; vertical-align: top; width: 33%; border-left: 1px solid #e4e3e0; border-bottom: 1px solid #e4e3e0; }

.media__about { text-transform: none; padding: 34px 36px; border-left: 0; font-family: Arial, sans-serif; }
.media__about p { margin-bottom: 21px; }

.media__news { padding: 34px 34px 29px; }

.media__soc { text-align: center; padding: 46px 0 41px; }

.news { *zoom: 1; margin-bottom: 13px; }
.news:after { content: " "; display: table; clear: both; }

.news__img { float: left; margin-right: 15px; width: 85px; text-align: center; overflow: hidden; }

.news__main { overflow: hidden; }

.news__title { color: #57231b; font-size: 12px; line-height: 1.5; text-decoration: underline; }
.news__title:hover { text-decoration: none; }

.news__meta { margin-top: 10px; color: #dddddd; }

.content { margin: 0 auto; width: 795px; color: #57231b; font-size: 12px; font-family: Arial, sans-serif; text-transform: none; }
.content p { margin-bottom: 22px; }
.content h2 { margin-bottom: 25px; font-size: 24px; font-family: "pfdintextpro-light", Arial, sans-serif; font-weight: normal; text-transform: uppercase; }
.content hr { margin: 0 0 37px 0; border: 0; height: 8px; background: url(../img/wave.png) 0 0 repeat-x; }
.content ul { margin: 22px 0; }
.content ul li { position: relative; margin-bottom: 6px; padding-left: 56px; }
.content ul li:before { content: ""; position: absolute; left: 18px; top: 4px; width: 8px; height: 8px; background: #fbf6a7; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

blockquote { position: relative; margin: 43px 0; width: 600px; padding: 9px 0 0 56px; font-size: 12px; }
blockquote:before { content: ""; position: absolute; top: 0; left: 0; background: url('../img/icons-s3b48fe2a99.png') 0 -494px no-repeat; width: 31px; height: 33px; }
blockquote p:last-child { text-align: right; }

.content__img { float: left; margin: 66px 30px 0 0; height: 75px; width: 75px; min-height: 1px; overflow: hidden; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

.content__main { overflow: hidden; }
.content__main div { -webkit-column-count: 2; -moz-column-count: 2; -ms-column-count: 2; -o-column-count: 2; column-count: 2; }

.top-section { position: relative; padding: 44px 35px 0; text-align: center; background: url(../img/top-bg.jpg) 50% -115px no-repeat; }
.top-section:after { content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1; background: rgba(225, 163, 192, 0.85); }

.top-section__in { position: relative; z-index: 2; }

.breadcrumbs { position: relative; margin-bottom: 26px; text-transform: none; }
.breadcrumbs a { position: relative; display: inline-block; margin-left: 42px; color: white; text-decoration: underline; }
.breadcrumbs a:hover { text-decoration: none; }
.breadcrumbs a:first-child { margin-left: 0; }
.breadcrumbs a:first-child:before { display: none; }
.breadcrumbs a:before { content: ""; position: absolute; top: 6px; left: -24px; width: 5px; height: 5px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: white; }

.page-title { padding-bottom: 80px; font-size: 30px; font-family: "pfdintextpro-medium", Arial, sans-serif; font-weight: normal; color: #fbf6a7; }

.sort-row { text-align: justify; }
.sort-row:after { content: ""; display: inline-block; width: 100%; height: 0; visibility: visible; }

.sort-gender, .sort-options, .sort-special { display: inline-block; text-align: left; vertical-align: top; font-size: 0; }
.sort-gender a, .sort-options a, .sort-special a { color: white; position: relative; font-size: 14px; }

.sort-gender a { position: relative; margin-left: 18px; padding: 3px 6px 1px; }
.sort-gender a:first-child { margin-left: 0; }
.sort-gender a:first-child:before { display: none; }
.sort-gender a:before { content: "/"; position: absolute; left: -11px; top: 1px; color: #ffe5ef; }
.sort-gender span { display: inline-block; border-bottom: 1px solid; line-height: 1; }
.sort-gender .is-active { background: white; color: #f37777; }
.sort-gender .is-active span { border-bottom-color: transparent; }

.sort-options { margin-left: -30px; }
.sort-options a { padding: 3px 8px 1px; }
.sort-options span { border-bottom: 1px dotted; }
.sort-options .is-active { padding: 3px 22px 1px 8px; background: white; color: #f37777; }
.sort-options .is-active span { border-bottom-color: transparent; }
.sort-options .is-active.is-top-sort:after { content: ""; position: absolute; right: 8px; top: 7px; width: 0px; height: 0px; border-style: solid; border-width: 0 3px 6px 3px; border-color: transparent transparent #f37777 transparent; }
.sort-options .is-active.is-down-sort:after { content: ""; position: absolute; right: 8px; top: 9px; width: 0px; height: 0px; border-style: solid; border-width: 6px 3px 0 3px; border-color: #f37777 transparent transparent transparent; }

.sort-special a { margin-left: 7px; padding: 3px 8px 1px; background: #8f6c67; }
.sort-special .is-active { padding: 3px 30px 1px 8px; background: white; color: #8f6c67; background: #fbf6a7; }
.sort-special .is-active:after { content: ""; position: absolute; top: 0; right: 0; bottom: 0; width: 21px; background: white; }
.sort-special .is-active:before { content: ""; position: absolute; top: 50%; right: 6px; z-index: 2; margin-top: -4px; background: url('../img/icons-s3b48fe2a99.png') 0 -920px no-repeat; width: 9px; height: 9px; }

.tags-wrap { padding: 22px 35px 10px; background: #fbf6a7; font-size: 0; display: none; }

.tag { display: inline-block; padding: 4px 13px 3px; margin: 0 14px 14px 0; vertical-align: top; background: white; color: #f37777; font-family: Arial, sans-serif; font-size: 12px; text-transform: none; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.tag:hover, .tag.is-active { color: white; background: #f37777; }

.item-section { padding: 43px 35px; *zoom: 1; }
.item-section:after { content: " "; display: table; clear: both; }

.gallery { float: left; margin-right: 53px; *zoom: 1; }
.gallery:after { content: " "; display: table; clear: both; }

.gallery__preview { float: left; width: 60px; }
.gallery__preview a { position: relative; display: block; margin: 0 0 13px; width: 60px; height: 60px; line-height: 60px; text-align: center; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #d295ae; }
.gallery__preview a.is-active:before { content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: rgba(210, 149, 174, 0.5); }
.gallery__preview img { width: 100%; height: auto; vertical-align: middle; max-height: 100%; }

.gallery__img { position: relative; float: left; width: 475px; height: 435px; text-align: center; line-height: 435px; overflow: hidden; }
.gallery__img img { vertical-align: middle; max-width: 95%; height: auto; max-height: 100%; }
.gallery__img .badge { top: 5px; right: 9px; }

.item-info { overflow: hidden; padding-top: 23px; }
.item-info .title { margin-bottom: 11px; }
.item-info .price { margin-right: 17px; }

.item-info__descr { margin-bottom: 20px; font-family: Arial, sans-serif; text-transform: none; }

.item-info__list { margin: 20px 0 17px; }
.item-info__list li { margin-bottom: 6px; }
.item-info__list span { display: inline-block; margin-right: 7px; color: #f37777; }
.item-info__list a { color: #57231b; text-decoration: underline; }
.item-info__list a:hover { text-decoration: none; }

.item-info__action { margin: 25px 0; }
.item-info__action .btn { margin-left: 18px; }

.slider-items .fotorama { position: relative; height: 400px; }
.slider-items .fotorama__nav-wrap { position: absolute; left: 0; right: 0; top: 360px; z-index: 50; }
.slider-items .fotorama__dot { background: #f37777; }
.slider-items .title { margin: 0 0 13px 64px; }
.slider-items .fotorama__arr { display: none; }
.slider-items .fotorama__nav:before, .slider-items .fotorama__nav:after, .slider-items .fotorama__stage:before, .slider-items .fotorama__stage:after { display: none !important; }

.fotorama__html, .fotorama__stage__frame, .fotorama__stage__shaft, .fotorama__video iframe { position: absolute; width: 100%; height: 100%; top: 0; right: 0; left: 0; bottom: 0; }

.fotorama--fullscreen, .fotorama__img { max-width: 99999px !important; max-height: 99999px !important; min-width: 0 !important; min-height: 0 !important; border-radius: 0 !important; box-shadow: none !important; padding: 0 !important; }

.fotorama__wrap .fotorama__grab { cursor: move; cursor: -webkit-grab; cursor: -o-grab; cursor: -ms-grab; cursor: grab; }

.fotorama__grabbing * { cursor: move; cursor: -webkit-grabbing; cursor: -o-grabbing; cursor: -ms-grabbing; cursor: grabbing; }

.fotorama__img, .fotorama__spinner { position: absolute !important; top: 50% !important; left: 50% !important; }

.fotorama__img { margin: -50% 0 0 -50%; width: 100%; height: 100%; }

.fotorama__wrap--css3 .fotorama__arr, .fotorama__wrap--css3 .fotorama__fullscreen-icon, .fotorama__wrap--css3 .fotorama__nav__shaft, .fotorama__wrap--css3 .fotorama__stage__shaft, .fotorama__wrap--css3 .fotorama__thumb-border, .fotorama__wrap--css3 .fotorama__video-close, .fotorama__wrap--css3 .fotorama__video-play { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.fotorama__caption, .fotorama__nav:after, .fotorama__nav:before, .fotorama__stage:after, .fotorama__stage:before, .fotorama__wrap--css3 .fotorama__html, .fotorama__wrap--css3 .fotorama__nav, .fotorama__wrap--css3 .fotorama__spinner, .fotorama__wrap--css3 .fotorama__stage, .fotorama__wrap--css3 .fotorama__stage .fotorama__img, .fotorama__wrap--css3 .fotorama__stage__frame { -webkit-transform: translateZ(0); transform: translateZ(0); }

.fotorama__wrap--video .fotorama__stage, .fotorama__wrap--video .fotorama__stage__frame--video, .fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html, .fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img, .fotorama__wrap--video .fotorama__stage__shaft { -webkit-transform: none !important; transform: none !important; }

.fotorama__wrap--css3 .fotorama__nav__shaft, .fotorama__wrap--css3 .fotorama__stage__shaft, .fotorama__wrap--css3 .fotorama__thumb-border { -webkit-transition-property: -webkit-transform; transition-property: transform; -webkit-transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1); transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1); -webkit-transition-duration: 0ms; transition-duration: 0ms; }

.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__no-select, .fotorama__video-close, .fotorama__video-play, .fotorama__wrap { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.fotorama__select { -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text; user-select: text; }

.fotorama__nav, .fotorama__nav__frame { margin: 0; padding: 0; }

.fotorama__caption__wrap, .fotorama__nav__frame, .fotorama__nav__shaft { -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *display: inline; *zoom: 1; }

.fotorama__wrap * { -moz-box-sizing: content-box; box-sizing: content-box; }

.fotorama__caption__wrap { -moz-box-sizing: border-box; box-sizing: border-box; }

.fotorama--hidden, .fotorama__load { position: absolute; left: -99999px; top: -99999px; z-index: -1; }

.fotorama__arr, .fotorama__fullscreen-icon, .fotorama__nav, .fotorama__nav__frame, .fotorama__nav__shaft, .fotorama__stage__frame, .fotorama__stage__shaft, .fotorama__video-close, .fotorama__video-play { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.fotorama__thumb { background-color: #7f7f7f; background-color: rgba(127, 127, 127, 0.2); }

.fotorama { min-width: 1px; overflow: hidden; }

.fotorama:not(.fotorama--unobtrusive) > :not(:first-child) { display: none; }

.fullscreen { width: 100% !important; height: 100% !important; max-width: 100% !important; max-height: 100% !important; margin: 0 !important; padding: 0 !important; overflow: hidden !important; background: black; }

.fotorama--fullscreen { position: absolute !important; top: 0 !important; left: 0 !important; right: 0 !important; bottom: 0 !important; float: none !important; z-index: 2147483647 !important; background: black; width: 100% !important; height: 100% !important; margin: 0 !important; }

.fotorama--fullscreen .fotorama__nav, .fotorama--fullscreen .fotorama__stage { background: black; }

.fotorama__wrap { -webkit-text-size-adjust: 100%; position: relative; direction: ltr; }

.fotorama__wrap--rtl .fotorama__stage__frame { direction: rtl; }

.fotorama__nav, .fotorama__stage { overflow: hidden; position: relative; max-width: 100%; }

.fotorama__wrap--pan-y { -ms-touch-action: pan-y; }

.fotorama__wrap .fotorama__pointer { cursor: pointer; }

.fotorama__wrap--slide .fotorama__stage__frame { opacity: 1 !important; }

.fotorama__stage__frame { overflow: hidden; }

.fotorama__stage__frame.fotorama__active { z-index: 8; }

.fotorama__wrap--fade .fotorama__stage__frame { display: none; }

.fotorama__wrap--fade .fotorama__fade-front, .fotorama__wrap--fade .fotorama__fade-rear, .fotorama__wrap--fade .fotorama__stage__frame.fotorama__active { display: block; left: 0; top: 0; }

.fotorama__wrap--fade .fotorama__fade-front { z-index: 8; }

.fotorama__wrap--fade .fotorama__fade-rear { z-index: 7; }

.fotorama__wrap--fade .fotorama__fade-rear.fotorama__active { z-index: 9; }

.fotorama__wrap--fade .fotorama__stage .fotorama__shadow { display: none; }

.fotorama__img { -ms-filter: "alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; border: none !important; }

.fotorama__error .fotorama__img, .fotorama__loaded .fotorama__img { -ms-filter: "alpha(Opacity=100)"; filter: alpha(opacity=100); opacity: 1; }

.fotorama--fullscreen .fotorama__loaded--full .fotorama__img, .fotorama__img--full { display: none; }

.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full { display: block; }

.fotorama__wrap--only-active .fotorama__nav, .fotorama__wrap--only-active .fotorama__stage { max-width: 99999px !important; }

.fotorama__wrap--only-active .fotorama__stage__frame { visibility: hidden; }

.fotorama__wrap--only-active .fotorama__stage__frame.fotorama__active { visibility: visible; }

.fotorama__nav { font-size: 0; line-height: 0; text-align: center; display: none; white-space: nowrap; z-index: 5; }

.fotorama__nav__shaft { position: relative; left: 0; top: 0; text-align: left; }

.fotorama__nav__frame { position: relative; cursor: pointer; }

.fotorama__nav--dots { display: block; }

.fotorama__nav--dots .fotorama__nav__frame { width: 23px; height: 30px; }

.fotorama__nav--dots .fotorama__nav__frame--thumb, .fotorama__nav--dots .fotorama__thumb-border { display: none; }

.fotorama__nav--thumbs { display: block; }

.fotorama__nav--thumbs .fotorama__nav__frame { padding-left: 0 !important; }

.fotorama__nav--thumbs .fotorama__nav__frame:last-child { padding-right: 0 !important; }

.fotorama__nav--thumbs .fotorama__nav__frame--dot { display: none; }

.fotorama__dot { display: block; width: 8px; height: 8px; position: relative; top: 12px; left: 6px; border-radius: 8px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.fotorama__dot:hover { background: #ff5151; }

.fotorama__nav__frame.fotorama__active { pointer-events: none; cursor: default; }

.fotorama__nav__frame.fotorama__active .fotorama__dot { width: 8px; height: 8px; border: none; }

.fotorama__dot { background: white; }

.fotorama__active .fotorama__dot { background-color: #fbf6a7; }

.fotorama__thumb { overflow: hidden; position: relative; width: 100%; height: 100%; }

.fotorama__thumb-border { position: absolute; z-index: 9; top: 0; left: 0; border-style: solid; border-color: #00afea; background-image: -webkit-linear-gradient(top left, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1)); background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1)); }

.fotorama__caption { position: absolute; z-index: 12; bottom: 0; left: 0; right: 0; font-family: "Helvetica Neue", Arial, sans-serif; font-size: 14px; line-height: 1.5; color: black; }

.fotorama__caption a { text-decoration: none; color: black; border-bottom: 1px solid; border-color: rgba(0, 0, 0, 0.5); }

.fotorama__caption a:hover { color: #333333; border-color: rgba(51, 51, 51, 0.5); }

.fotorama__wrap--rtl .fotorama__caption { left: auto; right: 0; }

.fotorama__wrap--no-captions .fotorama__caption, .fotorama__wrap--video .fotorama__caption { display: none; }

.fotorama__caption__wrap { background-color: white; background-color: rgba(255, 255, 255, 0.9); padding: 5px 10px; }

@-webkit-keyframes spinner { -webkit-transform: rotate(0); transform: rotate(0); -webkit-transform: rotate(360deg); transform: rotate(360deg); }

@keyframes spinner { -webkit-transform: rotate(0); transform: rotate(0); -webkit-transform: rotate(360deg); transform: rotate(360deg); }

.fotorama__wrap--css3 .fotorama__spinner { -webkit-animation: spinner 24s infinite linear; animation: spinner 24s infinite linear; }

.fotorama__wrap--css3 .fotorama__html, .fotorama__wrap--css3 .fotorama__stage .fotorama__img { -webkit-transition-property: opacity; transition-property: opacity; -webkit-transition-timing-function: linear; transition-timing-function: linear; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; }

.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html, .fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img { -ms-filter: "alpha(Opacity=0)"; filter: alpha(opacity=0); opacity: 0; }

.fotorama__select { cursor: auto; }

.fotorama__video { top: 32px; right: 0; bottom: 0; left: 0; position: absolute; z-index: 10; }

.fotorama__arr { cursor: pointer; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10); opacity: 0.1; }

.fotorama__arr--prev { background: url('../img/icons-s3b48fe2a99.png') 0 -747px no-repeat; width: 27px; height: 51px; }
.fotorama__arr--prev:hover { background-position: 0 -576px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

.fotorama__arr--next { background: url('../img/icons-s3b48fe2a99.png') 0 -808px no-repeat; width: 27px; height: 51px; }
.fotorama__arr--next:hover { background-position: 0 -637px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

.fotorama__arr--disabled { pointer-events: none; cursor: default; *display: none; }

.fotorama__fullscreen-icon { width: 32px; height: 32px; top: 0; right: 0; background-position: 0 -32px; z-index: 20; }

.fotorama--fullscreen .fotorama__fullscreen-icon { background-position: -32px -32px; }

.fotorama__video-play { width: 96px; height: 96px; left: 50%; top: 50%; margin-left: -48px; margin-top: -48px; background-position: 0 -64px; opacity: 0; }

.fotorama__wrap--css2 .fotorama__video-play, .fotorama__wrap--video .fotorama__stage .fotorama__video-play { display: none; }

.fotorama__error .fotorama__video-play, .fotorama__loaded .fotorama__video-play { opacity: 1; display: block; }

.fotorama__nav__frame .fotorama__video-play { width: 32px; height: 32px; margin-left: -16px; margin-top: -16px; background-position: -64px -32px; }

.fotorama__video-close { width: 32px; height: 32px; top: 0; right: 0; background-position: -64px 0; z-index: 20; opacity: 0; }

.fotorama__wrap--css2 .fotorama__video-close { display: none; }

.fotorama__wrap--css3 .fotorama__video-close { -webkit-transform: translate3d(32px, -32px, 0); transform: translate3d(32px, -32px, 0); }

.fotorama__wrap--video .fotorama__video-close { display: block; opacity: 1; }

.fotorama__wrap--css3.fotorama__wrap--video .fotorama__video-close { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr, .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon, .fotorama__wrap--video .fotorama__arr, .fotorama__wrap--video .fotorama__fullscreen-icon { opacity: 0; }

.fotorama__wrap--css2.fotorama__wrap--no-controls .fotorama__arr, .fotorama__wrap--css2.fotorama__wrap--no-controls .fotorama__fullscreen-icon, .fotorama__wrap--css2.fotorama__wrap--video .fotorama__arr, .fotorama__wrap--css2.fotorama__wrap--video .fotorama__fullscreen-icon { display: none; }

.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon, .fotorama__wrap--css3.fotorama__wrap--video .fotorama__fullscreen-icon { -webkit-transform: translate3d(32px, -32px, 0); transform: translate3d(32px, -32px, 0); }

.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev, .fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--prev { -webkit-transform: translate3d(-48px, 0, 0); transform: translate3d(-48px, 0, 0); }

.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next, .fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--next { -webkit-transform: translate3d(48px, 0, 0); transform: translate3d(48px, 0, 0); }

.fotorama__wrap--css3 .fotorama__arr, .fotorama__wrap--css3 .fotorama__fullscreen-icon, .fotorama__wrap--css3 .fotorama__video-close, .fotorama__wrap--css3 .fotorama__video-play { -webkit-transition-property: -webkit-transform, opacity; transition-property: transform, opacity; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; }

.fotorama__nav:after, .fotorama__nav:before, .fotorama__stage:after, .fotorama__stage:before { content: ""; display: block; position: absolute; text-decoration: none; top: 0; bottom: 0; width: 10px; height: auto; z-index: 10; pointer-events: none; background-repeat: no-repeat; background-size: 1px 100%, 5px 100%; }

.fotorama__nav:before, .fotorama__stage:before { background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), -webkit-radial-gradient(0 50%, farthest-side, rgba(0, 0, 0, 0.4), transparent); background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, 0.4), transparent); background-position: 0 0, 0 0; left: -10px; }

.fotorama__nav.fotorama__shadows--left:before, .fotorama__stage.fotorama__shadows--left:before { left: 0; }

.fotorama__nav:after, .fotorama__stage:after { background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), -webkit-radial-gradient(100% 50%, farthest-side, rgba(0, 0, 0, 0.4), transparent); background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.4), transparent); background-position: 100% 0, 100% 0; right: -10px; }

.fotorama__nav.fotorama__shadows--right:after, .fotorama__stage.fotorama__shadows--right:after { right: 0; }

.fotorama--fullscreen .fotorama__nav:after, .fotorama--fullscreen .fotorama__nav:before, .fotorama--fullscreen .fotorama__stage:after, .fotorama--fullscreen .fotorama__stage:before, .fotorama__wrap--fade .fotorama__stage:after, .fotorama__wrap--fade .fotorama__stage:before, .fotorama__wrap--no-shadows .fotorama__nav:after, .fotorama__wrap--no-shadows .fotorama__nav:before, .fotorama__wrap--no-shadows .fotorama__stage:after, .fotorama__wrap--no-shadows .fotorama__stage:before { display: none; }

.icon-male { background: url('../img/icons-s3b48fe2a99.png') 0 -319px no-repeat; width: 24px; height: 24px; }

.icon-female { background: url('../img/icons-s3b48fe2a99.png') 0 -421px no-repeat; width: 19px; height: 29px; }

.btn-detail { position: relative; display: inline-block; padding: 20px 56px 17px 32px; line-height: 1; background: #fbf6a7; color: #57231b; letter-spacing: 1px; font-family: "pfdintextpro-bold", Arial, sans-serif; font-size: 12px; text-transform: uppercase; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.btn-detail:hover { background: white; }
.btn-detail:active:after { right: 15px; }
.btn-detail:after { content: ""; position: absolute; top: 50%; right: 30px; margin-top: -7px; background: url('../img/icons-s3b48fe2a99.png') 0 -869px no-repeat; width: 8px; height: 14px; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear; }

.title { font-size: 24px; font-family: "pfdintextpro-light", Arial, sans-serif; font-weight: normal; text-transform: uppercase; }

.items-wrap { *zoom: 1; }
.items-wrap:after { content: " "; display: table; clear: both; }

.item { position: relative; float: left; margin: 0 0 -1px 0; border: 1px solid #e4e3e0; border-left: 0; width: 20%; height: 331px; background: white; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.item:nth-child(5n) { border-right: 0; }
@media only screen and (max-width: 1100px) { .item { width: 25%; }
  .item:nth-child(5n) { border-right: 1px solid #e4e3e0; }
  .item:nth-child(5n) .item__in { right: 0; }
  .item:nth-child(4n) { border-right: 0; } }
.item:hover { z-index: 100; border-color: white; }
.item:hover .btn-action { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; visibility: visible; margin-top: 21px; }
.item:hover .item__in { bottom: -38px; -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); }
.item .btn-action { display: block; margin-top: 41px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; visibility: hidden; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.item .badge { top: 11px; }
.item .is-new { right: 15px; z-index: 3; }
.item .is-discount { right: 54px; }
.item .price-old { margin-left: 16px; }

.item__in { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: white; -webkit-transition: box-shadow 0.2s linear; -moz-transition: box-shadow 0.2s linear; -o-transition: box-shadow 0.2s linear; transition: box-shadow 0.2s linear; }

.item__img { padding: 0 10px; height: 225px; line-height: 225px; text-align: center; overflow: hidden; }
.item__img img { vertical-align: middle; max-width: 100%; height: auto; max-height: 100%; }

.item__info { padding: 0 21px 19px; letter-spacing: 0.5px; }

.item__name { height: 38px; overflow: hidden; }
.item__name a { display: inline-block; position: relative; color: #57231b; line-height: 1.5; font-family: "pfdintextpro-medium", Arial, sans-serif; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.item__name a:hover { color: #8e4d43; }
.item__name a:hover:after { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.item__name a:active:after { margin-left: 20px; }
.item__name a:after { content: ""; display: inline-block; margin-left: 8px; width: 0px; height: 0px; border-style: solid; border-width: 4.5px 0 4.5px 8px; border-color: transparent transparent transparent #8e4d43; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

.item__price { display: inline-block; vertical-align: middle; color: #f37777; font-size: 18px; font-family: "pfdintextpro-regular", Arial, sans-serif; }

.btn-action { display: inline-block; padding: 12px 28px 9px; font-size: 10px; text-transform: uppercase; color: white; font-family: "pfdintextpro-medium", Arial, sans-serif; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: #f37777; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.btn-action:hover { background: #ff5151; }

.btn-action_big { font-size: 12px; }

.btn { display: inline-block; padding: 12px 28px 9px; font-size: 12px; text-transform: uppercase; color: #57231b; font-family: "pfdintextpro-medium", Arial, sans-serif; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: #fffcce; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.btn:hover { background: #fbf6a7; }

.btn-action_big { font-size: 12px; }

.badge { position: absolute; width: 45px; height: 45px; text-align: center; line-height: 45px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; font-family: Arial, sans-serif; font-size: 10px; font-weight: bold; color: #57231b; }
.badge.is-new { background: #fbf6a7; }
.badge.is-discount { background: #cedc6e; }

.badge_big { width: 61px; height: 61px; line-height: 61px; font-size: 18px; }

.tab { padding: 40px 0 33px; text-align: center; font-size: 24px; text-transform: uppercase; font-family: "pfdintextpro-light", Arial, sans-serif; color: #57231b; }

.tab__title, .tab__link { display: inline-block; vertical-align: middle; line-height: 1; }

.tab__title { margin-right: 18px; }

.tab__link { position: relative; padding: 9px 8px 7px; margin-left: 22px; color: #57231b; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.tab__link:hover { color: #f37777; }
.tab__link:after { content: ""; position: absolute; right: -12px; top: 0; width: 0px; height: 0px; border-style: solid; border-width: 40px 12px 0 0; border-color: #fbf6a7 transparent transparent transparent; display: none; }
.tab__link:before { content: ""; position: absolute; left: -12px; top: 0; width: 0px; height: 0px; border-style: solid; border-width: 0 0 40px 12px; border-color: transparent transparent #fbf6a7 transparent; display: none; }
.tab__link span { display: inline-block; border-bottom: 1px dotted; }
.tab__link.is-active { background: #fbf6a7; }
.tab__link.is-active:after, .tab__link.is-active:before { display: block; }
.tab__link.is-active:hover { color: #57231b; }
.tab__link.is-active span { border-bottom-color: transparent; }

.price { display: inline-block; vertical-align: middle; padding: 0 22px; height: 50px; line-height: 50px; font-size: 36px; border: 1px solid; }
.price.is-hot { color: #f37777; }

.price-old { display: inline-block; vertical-align: middle; font-size: 18px; font-family: "pfdintextpro-regular", Arial, sans-serif; color: #dddddd; text-decoration: line-through; }
