.icon-male
	+s(male)
.icon-female
	+s(female)
.btn-detail
	position: relative
	display: inline-block
	padding: 20px 56px 17px 32px
	line-height: 1
	background: $yell_d
	color: $brown
	letter-spacing: 1px
	+bold
	font-size: 12px   
	text-transform: uppercase
	+tr
	&:hover
		background: #fff   
	&:active
		&:after
			right: 15px
	&:after
		content: ""
		position: absolute
		top: 50%
		right: 30px  
		margin-top: -7px
		+s(arr1)
		+tr(all .1s linear)
.title
	font-size: 24px
	+light
	text-transform: uppercase