.promo-slider
    position: relative
    height: 530px
    .fotorama__nav-wrap
        position: absolute
        z-index: 300
        right: 0
        bottom: 23px
        text-align: right
    .fotorama__nav__shaft
        display: inline-block
    .fotorama__nav
        display: inline-block
        width: 236px !important
.discount
    position: absolute
    right: 0
    top: 0
    bottom: 0
    padding: 34px 20px 
    width: 196px
    text-align: center
    color: $yell_d 
    letter-spacing: 1px 
    background: rgba(#e1a3c0, .9)
    a
        color: $yell_d 
    .btn-detail
        color: $brown 
.discount__title
    margin-bottom: 47px
    font-size: 11px
    color: #fff 
    +opacity(.5)
    letter-spacing: 3px
.discount__name
    margin-bottom: 32px
    font-size: 30px
    text-align: center
    line-height: 36px
    a
        border-bottom: 1px solid 
.discount__price
    display: inline-block
    padding: 0 22px
    height: 50px
    line-height: 50px
    font-size: 36px
    border: 1px solid
.discount__percent
    margin-bottom: 38px
    font-size: 36px
    color: #fff
    +ethin 

.banner-row
    +clr
.banner-row__slider
    float: left
    width: 23.8%
    height: 185px
    overflow: hidden
    .fotorama
        height: 185px
        background: $red 
    .fotorama__nav-wrap
        position: absolute
        left: 0
        right: 0
        bottom: 16px
        z-index: 300
.banner-row__img
    overflow: hidden
    a
        float: left
        width: 33.3%
        height: 185px
        text-align: center
        overflow: hidden
        img
            +tr 
        &:hover
            img
                +scale(1.05)
.banner-row__slide
    padding: 22px 20px 40px 
    background: $red
    height: 123px 
    text-align: center
    color: #fff 
    +box
    span
        font-size: 11px
        letter-spacing: 3px
        +opacity(.5)
    div
        margin: 28px 0 0 
        font-size: 24px
        +light
        letter-spacing: 1px
        line-height: 26px
    