.content
	margin: 0 auto 
	width: 795px
	color: $brown
	font-size: 12px
	+arial
	text-transform: none
	p
		margin-bottom: 22px
	a
		color: $red
		text-decoration: underline
		&:hover
			text-decoration: none
	.link-back
		color: $brown 
	h2,
	.title
		margin-bottom: 25px
		font-size: 24px
		line-height: 28px
		+light
		letter-spacing: 1px 
		font-weight: normal
		text-transform: uppercase
	hr
		margin: 0 0 37px 0 
		border: 0
		height: 8px
		background: url(../img/wave.png) 0 0 repeat-x 
	ul
		margin: 22px 0 
		li
			position: relative
			margin-bottom: 6px
			padding-left: 56px
			&:before
				content: ""
				position: absolute
				left: 18px
				top: 4px
				width: 8px
				height: 8px
				background: $yell_d
				+border-radius(50%)  
	h3
		margin: 28px 0 12px
		text-transform: uppercase
		font-size: 12px
.content_top-bg
	background: url(../img/bg-img1.png) 8px 51px no-repeat
.content_bottom-bg
	background: url(../img/bg-img1.png) 8px 100% no-repeat  
blockquote
	position: relative
	margin: 43px 0 
	width: 600px
	padding: 9px 0 0 56px
	font-size: 12px
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		+s(quote) 
	p
		&:last-child
			text-align: right
.content__img
	float: left
	margin: 66px 30px 0 0  
	height: 75px
	width: 75px
	min-height: 1px
	overflow: hidden
	+border-radius(50%)
.content__main,
.content__in
	overflow: hidden
	div
		+column-count(2)
		+column-gap(25px)
	.btn-detail
		color: $brown
		text-decoration: none 
.content__in
	padding: 50px 0 105px 111px
	width: 690px
	overflow: visible
	+box
	img
		margin: 9px 0 50px
	hr
		margin: 76px 0 52px -115px
		width: 795px
	img
		max-width: 690px
		height: auto 

.top-section
	position: relative
	padding: 44px 35px 0 
	text-align: center
	background: url(../img/top-bg.jpg) 50% -115px no-repeat 
	&:after
		content: "" 
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: 1
		background: rgba(#e1a3c0, .85)   
.top-section__in
	position: relative
	z-index: 2
.breadcrumbs
	position: relative
	margin-bottom: 26px
	text-transform: none
	a
		position: relative
		display: inline-block
		margin-left: 42px
		color: #fff 
		text-decoration: underline
		&:hover
			text-decoration: none
		&:first-child
			margin-left: 0
			&:before
				display: none
		&:before
			content: ""
			position: absolute
			top: 6px
			left: -24px 
			width: 5px
			height: 5px
			+border-radius(50%)
			background: #fff 
		
.page-title
	padding-bottom: 50px
	font-size: 30px
	+med
	font-weight: normal
	color: $yell_d 
	letter-spacing: 2px 
	
.sort-row
	text-align: justify
	padding-top: 30px
	&:after
		content: "" 
		display: inline-block
		width: 100%
		height: 0
		visibility: visible
.sort-gender,
.sort-options,
.sort-special
	display: inline-block
	text-align: left
	vertical-align: top
	font-size: 0
	
	a
		color: #fff
		position: relative
		font-size: 14px 
.sort-gender
	a
		position: relative
		margin-left: 18px
		padding: 3px 6px 1px
		&:first-child
			margin-left: 0
			&:before
				display: none
		&:before
			content: "/"
			position: absolute 
			left: -11px
			top: 1px
			color: #ffe5ef 
	span
		display: inline-block
		border-bottom: 1px solid
		line-height: 1 
	.is-active
		background: #fff
		color: $red
		span
			border-bottom-color: transparent 
	

.sort-options
	margin-left: -30px
	a
		padding: 3px 8px 1px
	span
		border-bottom: 1px dotted 
	.is-active
		padding: 3px 22px 1px 8px 
		background: #fff
		color: $red
		span
			border-bottom-color: transparent 
		&.is-top-sort
			&:after
				content: ""
				position: absolute
				right: 8px
				top: 7px
				+arr(6,6,$red,t) 
		&.is-down-sort
			&:after
				content: ""
				position: absolute
				right: 8px
				top: 9px
				+arr(6,6,$red,b) 
.sort-special
	a
		margin-left: 7px
		padding: 3px 8px 1px
		background: #8f6c67 
	.is-active
		padding: 3px 30px 1px 8px 
		background: #fff
		color: #8f6c67
		background: $yell_d  
		&:after
			content: ""
			position: absolute
			top: 0
			right: 0
			bottom: 0
			width: 21px
			background: #fff  
		&:before
			content: ""
			position: absolute
			top: 50%
			right: 6px
			z-index: 2
			margin-top: -4px
			+s(close-brown) 

.sort
	text-align: center
	padding-bottom: 23px
	a
		display: inline-block
		margin-left: 30px
		color: #fff
		font-size: 14px
		text-decoration: underline
		&:hover,
		&.is-active
			color: $brown 
			+tr
		&:first-child
			margin-left: 0


.tags-wrap
	padding: 22px 35px 10px 
	background: $yell_d
	font-size: 0
	display: none
.tag
	display: inline-block
	padding: 4px 13px 3px 
	margin: 0 14px 14px 0 
	vertical-align: top
	background: #fff
	color: $red
	+arial
	font-size: 12px
	text-transform: none  
	+tr
	&:hover,
	&.is-active
		color: #fff
		background: $red  
		
.item-section
	padding: 43px 35px 
	+clr
.gallery
	float: left
	margin-right: 53px
	+clr
.gallery__preview
	float: left
	width: 60px
	a
		position: relative
		display: block
		margin: 0 0 13px 
		width: 60px 
		height: 60px
		line-height: 60px
		text-align: center
		overflow: hidden
		+box
		border: 1px solid #d295ae
		&.is-active
			&:before	
				content: ""
				position: absolute
				top: 0
				right: 0
				bottom: 0
				left: 0
				background: rgba(#d295ae,.5)  
	img
		width: 100%
		height: auto
		vertical-align: middle
		max-height: 100%
.gallery__img
	position: relative
	float: left
	width: 475px
	height: 435px
	text-align: center
	line-height: 435px
	overflow: hidden
	img
		vertical-align: middle
		max-width: 95%
		height: auto
		max-height: 100%
	.badge
		top: 5px
		right: 9px

.item-info
	overflow: hidden
	padding-top: 23px
	.title
		margin-bottom: 11px
	.price
		margin-right: 17px
.item-info__descr
	margin-bottom: 20px
	+arial
	text-transform: none
.item-info__list
	margin: 20px 0 17px
	li
		margin-bottom: 6px
	span
		display: inline-block
		margin-right: 7px
		color: $red 
	a
		color: $brown
		text-decoration: underline
		&:hover
			text-decoration: none
.item-info__action
	margin: 25px 0
	.btn
		margin-left: 18px
		
.slider-items
	.fotorama
		position: relative
		height: 400px
	.fotorama__nav-wrap
		position: absolute
		left: 0
		right: 0
		top: 360px
		z-index: 50
	.fotorama__dot
		background: $red 
	.title
		margin: 0 0 13px 64px
	.fotorama__arr
		display: none
	.fotorama__nav, 
	.fotorama__stage
		&:before,
		&:after
			display: none !important

.posts-wrap
	+clr
.post
	float: left
	position: relative
	width: 25%
	height: 355px
	background: $yell_d
	border: 1px solid #fff
	border-left: 0
	+tr
	+box
	&:hover
		z-index: 2
		background: $red 
		+box-shadow(0 0 30px rgba(#000, .5))
		.post__meta
			color: $yell_d 
		.post__title
			color: #fff
			&:after
				visibility: visible
				+opacity(1)
.post__img
	display: block
	height: 185px
	line-height: 195px
	text-align: center
	overflow: hidden
.post__main
	padding: 10px 24px 10px
	overflow: hidden
.post__title
	color: $brown 
	font-size: 12px
	line-height: 18px
	+tr
	text-decoration: underline
	&:after
		content: "" 
		display: inline-block
		margin-left: 2px
		+arr(8,10,#fff,r)
		visibility: hidden
		+opacity(0)
		+tr
	&:hover
		text-decoration: none 
	&:active
		&:after
			margin-left: 20px
.post__meta
	margin-top: 11px
	color: #bdbdbd 
	+tr

.pagin
	padding: 52px 0 54px  
	text-align: center
	font-size: 0
	a
		display: inline-block
		margin-left: 10px
		width: 22px
		height: 22px
		line-height: 22px
		+border-radius(50%)
		vertical-align: top
		font-size: 12px
		text-align: center
		+reg
		color: $brown
		+tr
		&:hover,
		&.is-active
			color: #fff
			background: $red 
		&:active
			position: relative
			top: 1px
		&:first-child
			margin-left: 0 
.map
	position: relative
	overflow: hidden		
.map__body
	height: 430px
.map__window
	position: absolute
	top: 0
	right: 0
	bottom: 0
	padding: 33px 0 0 70px
	width: 300px
	background: $red 
	background: rgba($red,.9) 
	+arial
	font-size: 12px
	color: #fff
	text-transform: none
	.title
		margin-left: 23px
	p
		margin-bottom: 30px
	strong
		display: block
		margin-bottom: 6px
		color: $yell_d
		font-weight: normal
		+bold
		letter-spacing: 1px 
		text-transform: uppercase
	a
		text-decoration: underline
		color: #fff
		&:hover
			text-decoration: none 
.basket
	padding: 94px 110px 70px 	
.basket__footer
	padding: 27px 23px 0 20px 
	+clr
	.link-back	
		float: left
		margin-top: 15px
.basket__action
	float: right
	text-align: right
	.btn
		margin-right: 3px
.basket__price
	margin-bottom: 33px
	span
		display: inline-block
		vertical-align: middle
		padding-top: 5px
		margin-right: 30px
		letter-spacing: 2px
		font-size: 18px
		+reg
	

.table
	+arial
	font-size: 14px
	th
		padding: 0 0 3px 20px
		font-weight: normal
		+bold
		font-size: 12px
		letter-spacing: 2px 
	th,td
		text-align: left
		border-bottom: 1px solid $border 
	td
		position: relative
		left: 0
		padding: 35px 0 35px 20px 
		vertical-align: middle
		+tr
	.is-remove-ready
		td
			left: -300px
			+opacity(0)
	.btn-del
		float: right
		margin: 11px 23px 0 0
.table__price
	color: $red
	+light
	font-size: 24px
	vertical-align: middle 
.table_order
	td
		padding: 28px 0 10px 12px 
	.table__price
		font-size: 20px
	sub
		font-size: 12px
		text-transform: none
.basket-item
	+clr
	+med
	font-size: 12px
.basket-item_small
	font-size: 11px
	.basket-item__img
		width: 67px
.basket-item__img
	display: inline-block
	vertical-align: middle
	margin-right: 13px
	width: 80px
	text-align: left
	img
		max-width: 100%
		height: auto
.basket-item__main
	display: inline-block
	vertical-align: middle
	line-height: 16px
	span
		display: block
		color: $gray
		+reg
	a
		color: $brown 
		
.box
	position: relative
	padding: 65px 0 
	.title
		width: 630px
		margin: 0 auto 46px
		line-height: 30px
		text-align: center
.box_search
	padding: 52px 0 
	.title
		margin-bottom: 0
		width: 530px
.box__link
	position: absolute
	right: 52px
	top: 74px
	color: $brown
	font-size: 12px
	+med
	text-decoration: underline 
	&:before
		content: ""
		position: absolute
		top: 0
		left: -21px
		+s(list) 
	&:hover
		text-decoration: none
.box__in
	margin: 0 auto 
	width: 795px
	
.search
	position: relative 
	margin: 0 auto 56px
	width: 434px
.search__text
	padding: 0 38px 
	width: 100%
	height: 36px
	border: 1px solid #f2ec61
	background: #fff
	+box
	+reg
	font-size: 12px
	color: $brown 
	text-transform: uppercase
	letter-spacing: 1px 
	+tr
	&:hover,
	&:focus
		border-color: $yell_d
.search__submit
	position: absolute
	right: 14px
	top: 50%
	margin-top: -9px
	+s(glass-red-s)
	+hide-text
.search__clear
	position: absolute
	top: 50%
	left: 17px
	margin-top: -4px
	+s(close)
	
.page
	padding: 65px 6.8% 

.contacts
	float: left
	width: 510px
	background: $yell_d
	+box
	.btn-action
		display: block
		width: 100%
		height: 71px
	.label__text
		margin-right: 22px
		width: 87px
	.input
		width: 325px
	label.has-error
		margin-left: 109px
.contacts__in
	padding: 42px 0 22px 38px 

.order-wrap
	float: right
	width: 445px
.order
	margin: 0 0 31px
	border: 1px solid #f2ec61
	+box
.order__header
	border-bottom: 1px solid #f2ec61 
	padding: 29px 25px 5px 
	text-align: justify
	line-height: 1
	&:after
		content: ""
		display: inline-block
		width: 100%
		height: 0
		visibility: visible
	a,span
		display: inline-block
		color: $brown 
	a
		text-transform: none
		text-decoration: underline
		+arial 
		&:hover
			text-decoration: none
	span
		font-size: 18px
.order__body
	padding: 0 25px 16px 
	
.order__price
	margin-top: 12px
	text-align: right
	span
		font-size: 14px
		display: inline-block
		vertical-align: middle
		margin-right: 11px
		
.message
	margin: 31px 0 
	border: 1px solid $red
	padding: 14px 27px 
	+box
	+arial
	+clr
	text-transform: none
	div
		overflow: hidden
	.btn
		float: right
		margin-left: 15px